<div style="text-align: center;">
  <form method="post" action="">
    <label>Расписание запуска:</label>
    <input type="text" placeholder="CRON expression" name="cron_expression">
    <br>
    <br>
    <label>Время генерации сообщения (от):</label>
    <input type="number" placeholder="В секундах" min="0" name="min_time">
    <br>
    <br>
    <label>Время генерации сообщения (до):</label>
    <input type="number" placeholder="В секундах" min="0" name="max_time">
    <br>
    <br>
    <label>Количество генерируемых сообщений:</label>
    <input type="number" min="0" name="quantity" value="0">
    <br>
    <br>
    <input type="submit" value="Применить">
  </form>
</div>